@inherits ReactiveUI.Blazor.ReactiveComponentBase<ChuckNorrisViewModel>
@inject ChuckNorrisViewModel _viewModel
@page "/Chuck/ChuckNorris"
<h3><b>UserId</b>: @_viewModel?.UserId.Value</h3>

<div class="row">
    @if (ViewModel?.Categories.Any() ?? false)
    {
        <MudText Typo="Typo.h5" Align="Align.Center">Check to Exclude Category</MudText>
        <MudStack Row="true" Justify="Justify.Center">
            @foreach (var category in ViewModel.Categories)
            {
                <MudCheckBox @bind-Checked="@category.Excluded" Label="@category.Category.Value"/>
            }
        </MudStack>
    }
</div>
<div class="row">
    @if (ViewModel?.Jokes.Any() ?? false)
    {
        <MudStack Justify="Justify.Center">
            @foreach (var jokeViewModel in ViewModel.Jokes)
            {
                <MudCard Square="true" Outlined="true">
                    <MudCardContent>
                        <MudText Typo="Typo.h6" Align="Align.Center">@jokeViewModel.Punchline</MudText>
                        <MudText Typo="Typo.body2" Align="Align.Center">@jokeViewModel.Category</MudText>
                    </MudCardContent>
                </MudCard>
            }
        </MudStack>
    }
</div>

<MudButton @onclick="Send" FullWidth="true">Send a Laugh</MudButton>